@import './variables';

.bg-about-container {
    @include p-content;
    background-color: $bg-primary;
}

.bg-highlight-container {
    @include p-content;
}

.hightlight-icons img {
    padding: $padding-content ;
    width: 180px;
    margin: 0 auto;
}

.bg-timeline {
    padding: $padding-content 0 0 0;
}

/* disable owl dot */
.owl-dots {
    display: none;
}

/* Location */
.bg-location-container {
     @include p-content; 
}

.bg-instalations {
    padding: $padding-content 0 !important;
    background: rgb(183, 214, 96);
    background: linear-gradient(180deg, rgba(183, 214, 96, 1) 50%, rgba(249, 45, 53, 1) 50%);
}
.bg-about-contact{
    padding: $padding-content 0 !important;
}
.about-call-cotent{
    padding: $padding-content 0 !important;
}
.about-call-cotent{
    background-color: #efefef;
    border-radius: 5px;
}