@import './variables';

.about-container {
    @include p-content;
    background-color: $bg-primary;
    &__title{
        color: $font-color-dark-strong;
        font-size: $font-size-h1;
    }
    &__text{
        padding-bottom: 20px;
        line-height: 30px;
    }
}

.highlight-container {
    @include p-content;
    &__title{
        color: $font-color-dark-strong;
        font-size: $font-size-h1;
       
    }
}


.hightlight-icons img {
    padding: $padding-content ;
    width: 180px;
    margin: 0 auto;
}

.bg-timeline {
    padding: $padding-content 0 0 0;
}




/* Localização */
.location-container {
     @include p-content; 
     &__title{
        color: $font-color-dark-strong;
        font-size: $font-size-h1;
     }
     &__text{
        padding-bottom: 20px;
        line-height: 30px;
     }
}
/* Instalações */
.instalations-container {
    padding: $padding-content 0 !important;
    background: rgb(183, 214, 96);
    background: linear-gradient(180deg, rgba(183, 214, 96, 1) 50%, rgba(249, 45, 53, 1) 50%);
}


/* Contato */
.contact-container{
    @include p-content;
    &__title{
        color: $font-color-dark-strong;
        font-size: $font-size-h1;
    }
}
 