@import './variables';

.bg-footer {
    padding: $padding-content;
    background-color: $bg-secondary;

}
.footer-link ul{    
    display: flex;
    justify-content: space-between;

}
/* Estendendo a classe */
%links-content{
    flex-direction: column;
}
.links-content a{
    text-decoration: none;
}

.btn-social{
    @extend %links-content;
}
 
.btn-social li{
    margin: 10px 0;
    width: 50%;
    background-color: $bg-primary;
    text-align: center !important;
    border-radius: 5px;
    color: #fff;
}
.btn-social a{
    color: #fff;
    padding: 0 40px;
    text-decoration: none;
}
.btn-social a:hover{
    color: #525050;
}