@import './variables';
@import './mixins';

/* Maquinas slide container */
.sideleft-container {
    @include m-section
}

.sideleft {
    &__title {
        color: $font-color-dark-strong;
        font-size: $font-size-h1;

    }

    &__text {
        padding-bottom: 20px;
        line-height: 30px;

    }

}


.carousel-item img {
    border-radius: 10px;
}

/* Maquinas primarias */
.machines-container {
    margin-top: $margin-section;
    padding: $padding-content 0;
    background: rgba(183, 214, 96, 0.8);

    &__title {
        font-size: $font-size-h1;
    }
}

.card-body {
    &__title-sm {
        color: #D71921;
    }
}

.card img {
    max-height: 400px;
}
  
/* Botão call to action */
.card-body .btn-call-to-action {
    text-align: center !important;
    margin: 0 auto;
    display: block;
}