@import 'variables';

.bg-machines-headercontent{
    background-color: $bg-primary;
    padding: $padding-content;
}
.bg-machines-headercontent h1{
    font-size: $font-size-h1 !important;

}
.bg-machines-headercontent p{
    line-height: 40px;

}

/* Máquinas */
.bg-machines{
    margin: $margin-section 0;
}
.btn-machines {
 background-color: $bg-primary !important;
 border: none !important;
}