@import 'variables';

.machines-headercontent{
    background-color: $bg-primary;
    padding: $padding-content;
}
.machines-headercontent{
&__title{
    font-size: $font-size-h1 !important;
}
&__text{
    line-height: 40px;
}  
}
 

/* Máquinas */
.machines-container-content{
    margin: $margin-section 0;
}
.btn-machines {
 background-color: $bg-primary !important;
 border: none !important;
}