@import './variables';
/* Espaçamento entre sections */
@mixin m-section {
    margin: $margin-section;
}
/* Espaçamento interno */
@mixin p-content {
    padding: $padding-content 0;
}
/* Botão call to action */
@mixin btn-call-to-action{
    text-decoration: none;
    background-color: #b7d660;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 4px;
    color: #fff;
}
 