.btn-call-to-action{
    text-decoration: none;
    background-color: #b7d660;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 4px;
    color: #fff;
}
.btn-call-to-action:hover{
    color: #525050;
}