/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font-color-dark-strong: #333;
$font-color-dark-light: #525050;
/* Backgrounds */
$bg-primary:#b7d660; 
$bg-secondary:#a0a0a0;
$bg-complementary:#f92d35;
/* Font-size */
$font-nav-size: 14px;
$font-size-h1: 26px;
$font-size-p:18px;

$font-mserrat: 'Montserrat', sans-serif;
/* Margin */
$margin-section:40px;
/* Padding */
$padding-content:40px;