@import './variables';
.bg-machine-content{
    background-color: $bg-primary;
    padding: $padding-content 0;
}
.machine-img img{
    width: 500px ;
    height: 500px ;
}

.bg-products{
    padding: $padding-content 0;
}
.slide-products {
    width: 350px !important;
}
.glider-slide{
    border: none !important;
}
.btn-enviar{
    background-color: $bg-primary !important;
    border: none !important;
}