@charset "UTF-8";
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* Backgrounds */
/* Font-size */
/* Margin */
/* Padding */
/* Reset do css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  box-sizing: border-box !important;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

h1 {
  font-size: 26px !important;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fonts */
/* Backgrounds */
/* Font-size */
/* Margin */
/* Padding */
/* Espaçamento entre sections */
/* Espaçamento interno */
/* Botão call to action */
/* 1024 */
@media (max-width: 1024px) {
  .bg-footer .row {
    flex-direction: column;
  }
  .btn-social {
    align-items: center !important;
  }
  /* Máquinas individuais */
  .bg-machine-content .row {
    flex-direction: column;
    align-items: center;
  }
  .bg-machine-content .col {
    flex-direction: column;
    align-items: center;
  }
}
/* 768 */
@media (max-width: 768px) {
  /* Index */
  .slide-columns {
    flex-direction: column-reverse;
  }
  .text-col-slide-container {
    padding-top: 15px;
  }
  .machines-card {
    flex-direction: column;
    align-items: center;
  }
  .macines-card, .col-6 {
    width: 100% !important;
  }
  .img-machine-container img {
    height: 320px;
  }
  .btn-social li {
    width: 100% !important;
  }
}
/* Sobre */
@media (max-width: 1024px) {
  .about-bg-container {
    background: rgb(183, 214, 96);
    background: linear-gradient(180deg, rgb(183, 214, 96) 40%, rgb(255, 255, 255) 20%) !important;
  }
}
@media (max-width: 1024px) {
  .about-bg-container {
    background: rgb(183, 214, 96);
    background: linear-gradient(180deg, rgb(183, 214, 96) 28%, rgb(255, 255, 255) 20%) !important;
  }
}
@media (max-width: 768px) {
  .about-bg-container {
    background: rgb(183, 214, 96);
    background: linear-gradient(180deg, rgb(183, 214, 96) 30%, rgb(255, 255, 255) 20%) !important;
  }
  /* Machines */
  .bg-machines .container {
    display: flex !important;
    align-items: center !important;
  }
  .row > * {
    padding: 0 !important;
    justify-content: center;
    display: flex;
  }
}
@media (max-width: 425px) {
  .about-bg-container {
    background: rgb(183, 214, 96);
    background: linear-gradient(180deg, rgb(183, 214, 96) 30%, rgb(255, 255, 255) 20%) !important;
  }
  .bg-institucional {
    margin: 0 !important;
  }
  .bg-localization .container {
    margin-top: 40px;
  }
  .bg-localization iframe {
    width: 320px !important;
  }
  .map-col {
    justify-content: center;
    display: flex;
  }
  .logo-footer {
    margin-bottom: 40px !important;
  }
  /* Maquina individual */
  .img-machine-container img {
    width: 320px !important;
    height: 320px !important;
  }
  .hightlight-icons {
    flex-direction: column !important;
  }
}
@media (width: 320px) {
  .img-machine-container .img {
    width: 200px !important;
    height: 200px !important;
  }
}
/* Fonts */
/* Backgrounds */
/* Font-size */
/* Margin */
/* Padding */
/* Fonts */
/* Backgrounds */
/* Font-size */
/* Margin */
/* Padding */
.bg-footer {
  padding: 40px;
  background-color: #a0a0a0;
}

.footer-link ul {
  display: flex;
  justify-content: space-between;
}

/* Estendendo a classe */
.btn-social {
  flex-direction: column;
}

.links-content a {
  text-decoration: none;
}

.btn-social li {
  margin: 10px 0;
  width: 50%;
  background-color: #b7d660;
  text-align: center !important;
  border-radius: 5px;
  color: #fff;
}

.btn-social a {
  color: #fff;
  padding: 0 40px;
  text-decoration: none;
}

.btn-social a:hover {
  color: #525050;
}

/* Fonts */
/* Backgrounds */
/* Font-size */
/* Margin */
/* Padding */
/* Fonts */
/* Backgrounds */
/* Font-size */
/* Margin */
/* Padding */
/* Espaçamento entre sections */
/* Espaçamento interno */
/* Botão call to action */
/* Maquinas slide container */
.slide-container {
  margin: 40px;
}

.text-col-slide-container p {
  padding-bottom: 20px;
  line-height: 30px;
}

.slide-columns h1 {
  color: #333;
  font-size: 26px;
}

.carousel-item img {
  border-radius: 10px;
}

/* Maquinas primarias */
.bg-primary-machines {
  margin-top: 40px;
  padding: 40px 0;
  background: rgba(183, 214, 96, 0.8);
}

.bg-primary-machines h1 {
  font-size: 26px;
}

.card img {
  max-height: 400px;
}

/* Botão call to action */
.card-body .btn-call-to-action {
  text-align: center !important;
  margin: 0 auto;
  display: block;
}

.btn-call-to-action {
  text-decoration: none;
  background-color: #b7d660;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 4px;
  color: #fff;
}

.btn-call-to-action:hover {
  color: #525050;
}

/* Fonts */
/* Backgrounds */
/* Font-size */
/* Margin */
/* Padding */
.bg-about-container {
  padding: 40px 0;
  background-color: #b7d660;
}

.bg-highlight-container {
  padding: 40px 0;
}

.hightlight-icons img {
  padding: 40px;
  width: 180px;
  margin: 0 auto;
}

.bg-timeline {
  padding: 40px 0 0 0;
}

/* disable owl dot */
.owl-dots {
  display: none;
}

/* Location */
.bg-location-container {
  padding: 40px 0;
}

.bg-instalations {
  padding: 40px 0 !important;
  background: rgb(183, 214, 96);
  background: linear-gradient(180deg, rgb(183, 214, 96) 50%, rgb(249, 45, 53) 50%);
}

.bg-about-contact {
  padding: 40px 0 !important;
}

.about-call-cotent {
  padding: 40px 0 !important;
}

.about-call-cotent {
  background-color: #efefef;
  border-radius: 5px;
}

/* Fonts */
/* Backgrounds */
/* Font-size */
/* Margin */
/* Padding */
.bg-machines-headercontent {
  background-color: #b7d660;
  padding: 40px;
}

.bg-machines-headercontent h1 {
  font-size: 26px !important;
}

.bg-machines-headercontent p {
  line-height: 40px;
}

/* Máquinas */
.bg-machines {
  margin: 40px 0;
}

.btn-machines {
  background-color: #b7d660 !important;
  border: none !important;
}

/* Fonts */
/* Backgrounds */
/* Font-size */
/* Margin */
/* Padding */
.bg-machine-content {
  background-color: #b7d660;
  padding: 40px 0;
}

.machine-img img {
  width: 500px;
  height: 500px;
}

.bg-products {
  padding: 40px 0;
}

.slide-products {
  width: 350px !important;
}

.glider-slide {
  border: none !important;
}

.btn-enviar {
  background-color: #b7d660 !important;
  border: none !important;
}

/*# sourceMappingURL=main.css.map */
